body{
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    font-size: calc(10px + .6vw);
    font-weight: lighter;
    background-image: url(./images/background.png);
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
}

.fp-controlArrow{
    transform: scale(.75);
    opacity: .33;
    transition: .3s;
}

.fp-controlArrow:hover{
    opacity: 1;
}

.fp-controlArrow.fp-prev{
    left: 60px;
}

.fp-controlArrow.fp-next{
    right: 60px;
}

#fp-nav ul li a span{
    background: #eeeeee;
}

.fp-viewing-about #fp-nav ul li a span{
    background: #222222;
}

.fp-viewing-about #fp-nav ul li .fp-tooltip{
    color: #222222;
}

h1, h2{
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
}

h3, h4{
    font-weight: normal;
}

h2{
    font-size: 2rem;
}

.code{
    font-family: Consolas;
    text-align: center;
    font-weight: normal;
}

.code img{
    width: 6rem;
    margin: 0 auto;
}

.lightred{
    color: #ff3982;
}

.lightgreen{
    color: #57ff35;
}

.lightorange{
    color: #ffc935;
}

.lightblue{
    color: #35f2ff;
}

.arrow-down{
    text-align: center;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-decoration: none;
}

.arrow-down img{
    height: 2rem;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(0);
    }
}

.flex{
    display: flex;
    justify-content: center;
}

.mobile-flex span + span{
    margin-left: 1rem;
}

.code p.mobile-flex::before{
    content: '{';
    display: inline;
    margin-right: 1rem;
}    

.code p.mobile-flex::after{
    content: '}';
    display: inline;
    margin-left: 1rem;
} 

.about__description{
    background: #eeeeee;
    color: #222222;
    padding: 4rem 20%;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 0 10px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__link{
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: inherit;
    border: solid 2px #222222;
    font-size: 1.5rem;
    transition: .5s;
    height: 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.about__link img{
    max-height: 1.25rem;
    transform: rotate(-90deg);
    margin-left: 1rem;
    transition: .5s;
}

.about__link:hover{
    background: #222222;
    color: #eeeeee;
}

.about__link:hover img{
    filter: invert() contrast(200%) grayscale(100%);
    transform: none;
}

.tech__header{
    margin-bottom: 4rem;
}

.tech__flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.tech__flex > div{
    width: 25%;
    margin: 1rem 0;
}

.code-brackets{
    flex-direction: column;
    text-align: left;
    display: inline-flex;
}

.code-brackets p{
    transform: translateX(30px);
}

.code-brackets p::before{
    content: "{";
    display: block;
    transform: translateX(-30px);
}

.code-brackets p::after{
    content: "}";
    display: block;
    transform: translateX(-30px);
}

.projects .slide{
    background-image: url(./images/screen.png);
    background-size: 42vw;
    background-position: 20% 60%;
    background-repeat: no-repeat;
}

.projects .slide.eloboost360{
    background-image: url(./images/eloboost360.png);
}

.projects .slide.drmenswear{
    background-image: url(./images/drmenswear.png);
}

.projects .slide.shop-template{
    background-image: url(./images/shop-template.png);
}

.projects .slide.heroes-adventures{
    background-image: url(./images/heroes-adventures.png);
}

.projects__header{
    position: absolute;
    width: 100%;
    margin-top: 5%;
    z-index: 2;
}

.projects__description{
    width: 30%;
    margin-left: auto;
    margin-right: 10%;
    text-align: justify;
}

.projects__techs{
    display: flex;
}

.projects__techs img{
    height: 2rem;
    margin-bottom: 1rem;
}

.projects__techs img+img{
    margin-left: 2rem;
}

.projects__links{
    width: 100%;
    display: flex;
}

.projects__links a{
    width: 50%;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-weight: normal;
    transition: .3s;
    padding: 1rem 0;
    background: #00000050;
}

.projects__links a+a{
    margin-left: 1rem;
}

.projects__links a:not(.disabled):hover{
    background: #00000090;
}

.projects__links a.disabled{
    cursor: default;
}

.contact__form{
    background: #00000066;
    color: #eeeeee;
    padding: 2rem;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__label, .contact__field, .contact__submit{
    display: block;
    width: 50%;
    margin: .5rem 0;
    box-sizing: border-box;
}

.contact__field, .contact__submit{
    padding: .5rem 1rem;
    font-family: inherit;
    background-color: #ffffff15;
    border: none;
    color: #eeeeee;
    font-size: 1rem;
}

.contact__submit{
    font-size: inherit;
}

textarea.contact__field{
    min-height: 20vh;
    resize: vertical;
}

@media (max-width: 1600px) {
    .about__description{
        padding: 4rem 10%;
    }
}

@media (max-width: 1280px) {
    .code img{
        height: 5rem;
        width: auto;
    }

    .about__description{
        padding: 4rem 8%;
    }

    .tech__flex > div{
        margin: .75rem 0;
    }

    .tech__header{
        margin-bottom: 3rem;
    }

    .projects .slide{
        background-size: 36vw;
        background-position: 20% 70%;
    }

    .projects__description{
        margin-right: 12%;
    }
}

@media (max-width: 768px) {
    h1, h2{
        font-size: 1.5rem;
    }

    .mobile-flex{
        flex-direction: column;
        text-align: left;
        display: inline-flex;
        transform: translateX(20px);
    }       
    
    .mobile-flex span + span{
        margin-left: 0;
    }

    .code p.mobile-flex::before, .code p.mobile-flex::after{
        transform: translateX(-20px);
        margin: 0;
    }    

    .code-brackets p{
        transform: translateX(20px);
    }
    
    .code-brackets p::before, .code-brackets p::after{
        transform: translateX(-20px);
    }

    #fp-nav{
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        right: auto !important;
    }

    #fp-nav ul{
        display: flex;
    }

    .fp-controlArrow{
        top: 90%;
    }

    .code img{
        height: 3rem;
        width: auto;
    }

    .about__description{
        flex-direction: column;
        font-size: 1.5rem;
        padding: 4rem 5%;
    }

    .about__link{
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .tech__header{
        margin-bottom: 2rem;
        padding-top: 2.5rem;
    }

    .tech__flex > div{
        font-size: .75rem;
        width: calc(50% - 1rem);
        padding: 0 .5rem;
        margin: .5rem 0;
    }

    .projects .slide{
        background-size: 80vw;
        background-position: center 30%;
    }

    .projects__header{
        padding-top: 3rem;
    }

    .projects__description{
        margin-right: auto;
        margin-top: 75%;
        width: 80%;
    }

    .contact__label, .contact__field, .contact__submit{
        width: 90%;
    }
    
}