body{
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    font-size: calc(10px + .6vw);
    font-weight: lighter;
    background-image: url(./images/background.png);
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
}

.fp-controlArrow{
    transform: scale(.75);
    opacity: .33;
    transition: .3s;
}

.fp-controlArrow:hover{
    opacity: 1;
}

.fp-controlArrow.fp-prev{
    left: 60px;
}

.fp-controlArrow.fp-next{
    right: 60px;
}

#fp-nav ul li a span{
    background: #eeeeee;
}

h1, h2{
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
}

h3, h4{
    font-weight: normal;
}

h2{
    font-size: 2rem;
}

.code{
    font-family: Consolas;
    text-align: center;
    font-weight: normal;
}

.code img{
    width: 6rem;
    margin: 0 auto;
}

.lightred{
    color: #ff3982;
}

.lightgreen{
    color: #57ff35;
}

.lightorange{
    color: #ffc935;
}

.lightblue{
    color: #35f2ff;
}

.arrow-down{
    text-align: center;
    color: #555560;
    font-size: 3rem;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-decoration: none;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(0);
    }
}

.flex{
    display: flex;
    justify-content: center;
}

.mobile-flex span + span{
    margin-left: 1rem;
}

.code p.mobile-flex::before{
    content: '{';
    display: inline;
    margin-right: 1rem;
}    

.code p.mobile-flex::after{
    content: '}';
    display: inline;
    margin-left: 1rem;
} 

.tech__header{
    margin-bottom: 4rem;
}

.tech__flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.tech__flex > div{
    width: 25%;
    margin: 1rem 0;
}

.code-brackets{
    flex-direction: column;
    text-align: left;
    display: inline-flex;
}

.code-brackets p{
    transform: translateX(30px);
}

.code-brackets p::before{
    content: "{";
    display: block;
    transform: translateX(-30px);
}

.code-brackets p::after{
    content: "}";
    display: block;
    transform: translateX(-30px);
}

.projects .slide{
    background-image: url(./images/screen.png);
    background-size: 42vw;
    background-position: 20% center;
    background-repeat: no-repeat;
}

.projects__description{
    width: 30%;
    margin-left: auto;
    margin-right: 10%;
    text-align: justify;
}

.projects__links{
    width: 100%;
    display: flex;
}

.projects__links a{
    width: 50%;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    h1, h2{
        font-size: 1.5rem;
    }

    .mobile-flex{
        flex-direction: column;
        text-align: left;
        display: inline-flex;
        transform: translateX(20px);
    }       
    
    .mobile-flex span + span{
        margin-left: 0;
    }

    .code p.mobile-flex::before, .code p.mobile-flex::after{
        transform: translateX(-20px);
        margin: 0;
    }    

    .code-brackets p{
        transform: translateX(20px);
    }
    
    .code-brackets p::before, .code-brackets p::after{
        transform: translateX(-20px);
    }

    #fp-nav{
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        right: auto !important;
    }

    #fp-nav ul{
        display: flex;
    }

    .code img{
        height: 3rem;
        width: auto;
    }

    .tech__header{
        margin-bottom: 2rem;
        padding-top: 2.5rem;
    }

    .tech__flex > div{
        font-size: .75rem;
        width: calc(50% - 1rem);
        padding: 0 .5rem;
        margin: .5rem 0;
    }
}