---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Damian Chojnacki" />
        <meta
            name="description"
            content="Fullstack Web developer. Known languages - PHP, JavaScript, MySQL. Feel free to ask me for partnership. Also, you can order me build your website service of dreams. I will do small project like company website, but also complex web application."
        />

        <title>{title}</title>
    </head>
    <body
        class="bg-[url('/images/background.webp')] bg-fixed bg-cover bg-center"
    >
        <slot />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter.ttf") format("truetype");
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Fira Mono";
        src: url("/fonts/FiraMono-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
